{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h2 style="color:white;">Reset your Password</h2>
                </div>
            </div>
            <div class="col-lg-7">
                
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1></h1>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- login form -->

<div class="contact-from-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2" style="text-align: center; ">
                
                <div class="form-title">
                    <h2 style="color: black;">Reset Password</h2>
                    <p style="color: black;">Reset your password and explore our services.</p>
                </div>
                
                {% include 'includes/alerts.html' %}
                <div class="contact-form">
                
                    <form method="POST" id="login-form"  action="{% url 'resetPassword' %}" style ="width:100%;">{% csrf_token %}
                        <div class = "form-group">
                            <input type="password" class="form-control" placeholder="Create Password" name="password"  required>
                        </div>
                        <div class = "form-group">
                            <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password"  required>
                        </div>
                        
                        {% comment %} <p><input type="submit" style="background-color: #3b5d50; color: white;" value="Login"></p>
                        <a href="#" class="btn btn-primary"> <span class = "text">Login</span> </a> {% endcomment %}
                        <div class="form-group ">
                                <button type="submit" class="btn btn-primary btn-block">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end login form -->

{% endblock content %}