{% extends "base.html" %} {% load static %} {% block content %}
<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Cart</h1>
        </div>
      </div>
      <div class="col-lg-7"></div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

{% if not cart_items %}
<div class="col-lg-8 offset-lg-2 text-center">
  <h2 style="color: #3b5d50">Your Shopping cart is Empty</h2>
  <br />
  <h3 style="color: #3d5d50">Oops!</h3>
  <br />
  <a
    href="{% url 'store' %}"
    class="btn btn-outline-black btn-sm btn-block"
    style="background-color: #3b5d50; color: white"
    >Continue Shopping</a
  >
</div>
{%else%}

<div class="untree_co-section before-footer-section">
  <div class="container">
    <div class="row mb-5">
      <form class="col-md-12" method="post">
        <div class="site-blocks-table">
          <table class="table">
            <thead>
              <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Remove</th>
              </tr>
            </thead>
            <tbody>
              {% for cart_item in cart_items %}
              <tr>
                <td class="product-thumbnail">
                  <img
                    src="{{ cart_item.product.images.url }}"
                    alt="Image"
                    class="img-fluid"
                  />
                </td>
                <td class="product-name">
                  <a
                    href="{{ cart_item.product.get_url }}"
                    class="h5 text-black"
                    >{{ cart_item.product.product_name }}</a
                  >
                </td>
                <td>$ {{ cart_item.product.price }}</td>
                <td>
                  <div
                    class="input-group mb-3 d-flex align-items-center quantity-container"
                    style="max-width: 120px"
                  >
                    <div class="input-group-prepend">
                      <a
                        href="{% url 'remove_cart' cart_item.product.id %}"
                        class="btn btn-outline-black decrease"
                        type="button"
                        >&minus;</a
                      >
                    </div>
                    <input
                      type="text"
                      class="form-control text-center quantity-amount"
                      value="{{ cart_item.quantity }}"
                      placeholder=""
                      aria-label="Example text with button addon"
                      aria-describedby="button-addon1"
                    />
                    <div class="input-group-append">
                      <a
                        href="{% url 'add_cart' cart_item.product.id %}"
                        class="btn btn-outline-black increase"
                        type="button"
                        >&plus;</a
                      >
                    </div>
                  </div>
                </td>
                <td>$ {{ cart_item.sub_total }}</td>
                <td>
                  <a
                    href="{% url 'remove_cart_item' cart_item.product.id %}"
                    class="btn btn-black btn-sm"
                    >X</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row mb-5">
          {% comment %}
          <div class="col-md-6 mb-3 mb-md-0">
            <button class="btn btn-black btn-sm btn-block">Update Cart</button>
          </div>
          {% endcomment %}
          <div class="col-md-6">
            <a href="{% url 'store' %}" class="btn btn-primary btn-lg py-2 btn-block">
              Continue Shopping
            </a>
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="text-black h4" for="coupon">Coupon</label>
            <p>Enter your coupon code if you have one.</p>
          </div>
          <div class="col-md-8 mb-3 mb-md-0">
            <input
              type="text"
              class="form-control py-3"
              id="coupon"
              placeholder="Coupon Code"
            />
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary btn-lg py-2 btn-block">Apply Coupon</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 pl-5">
        <div class="row justify-content-end">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12 text-right border-bottom mb-5">
                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <span class="text-black">Subtotal</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black">$ {{total}}</strong>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <span class="text-black">GST</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black">$ {{tax}}</strong>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-6">
                <span class="text-black">Grand Total</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black">$ {{grand_total}}</strong>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <a href="{% url 'checkout' %}"
                  class="btn btn-primary btn-lg py-2 btn-block"
                >
                  Proceed To Checkout
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock content %}
